body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.navbar {
  padding: 3% 8%;
}

.navbar i {
  color: white;
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.nav-link {
  margin: 0 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.main-img {
  width: 70%;
  position: absolute;
  z-index: 10;
  right: 0;
}

.main-title {
  padding: 8% 10% 0 10%;
  color: #6e6e6e;
}

.main-p {
  padding: 2% 10%;
  color: #6e6e6e;
  font-family: 'Roboto Condensed', sans-serif;
}

.side-p {
  padding: 0 10%;
  color: #6e6e6e;
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.second-section {
  position: relative;
  background-color: #242424;
  padding: 0 2% 3% 2%;
}

.second-section h1 {
  color: white;
  margin: 2% 1%;
}

.second-section .card {
  background-color: #ebebeb;
  width: 250px;
  height: 400px;
  margin: 0 1%;
  border: none;
  border-radius: 0;
  display: inline-block

}

.second-section .card-title {
  text-align: center;
  padding: 3% 0;
  background-color: #808080;
}

.second-section .card-body {
  padding-top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  white-space: normal;
  position: absolute;
}

.second-section .card-img-top {
  padding-top: 5%;
  height: 100px;
  width: 100px;
  margin-bottom: 5%;
}

/* Third Section */

.third-section {
  padding: 3% 0;
  margin: 0;
}

.main-row h1 {
  text-align: center;
  color: white;
}

.card-body .col-lg-5 {
  padding: 0;
}

.card-body .col-lg-7 {
  padding: 0 0;
  padding-bottom: 100px;
}

.card-body .col-6 {
  padding: 0;
}

.card-body .col-6 {
  padding: 0;
}

.card-body .col-12 {
  padding: 0;
}

.third-section .main-row {
  margin: 0;
}

.third-section .carousel-item {
  padding: 0 10%;
}

.third-section .card {
  padding: 0;
  border: none;
  border-radius: 0;
}

.third-section .card-body {
  position: relative;
  padding: 0;
  overflow: hidden;
}

.third-section img {
  position: absolute;
  width: 100%;

}

.stat .row {
  padding: 3% 0;
  margin: 0 8% 0 5%;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: #d9d9d9;
}

.stat p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.stat .values {
  text-align: right;
}

.alert {
  position: fixed;
  bottom: 0;
  margin: 0;
  border-radius: 0;
  width: 100%;
  color: white;
  background-color: #383838;
  border-width: 1px 0 0 0;
}

.footer {
  background-color: #636363;
  height: 150px;
  padding: 2% 0;
  text-align: center;
}

.footer .btn {
  margin: 10px;
}

.icon {
  color: white;
  margin: 10px 10px;;
}

@media (max-width: 993px) {
  .card-image {
    height: 100%;
    overflow: hidden;
  }

  .stat .row {
    margin: 0 5%;
  }

  .card-body .col-lg-7 {
    margin: 200px 0 0 0;
    padding: 0 5% 100px;
    background-color: white;
    opacity: 0.8;
  }

  .img-container {
    display: none;
  }
}
